<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_ros2_control" params="name use_mock_hardware:=true">
    <ros2_control name="${name}" type="system">
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
          <param name="can">can0</param>
        </hardware>
      </xacro:unless>

      <xacro:macro name="arm_joint" params="name node_id">
        <joint name="${name}">
          <param name="node_id">${node_id}</param>
          <command_interface name="velocity"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:arm_joint name="Joint_1" node_id="0"/>
      <xacro:arm_joint name="Joint_2" node_id="1"/>
      <xacro:arm_joint name="Joint_3" node_id="2"/>
      <xacro:arm_joint name="Joint_4" node_id="3"/>
      <xacro:arm_joint name="Joint_5" node_id="4"/>
      <xacro:arm_joint name="Joint_6" node_id="5"/>
    </ros2_control>
  </xacro:macro>
</robot>