[submodule "src/ros_odrive"]
	path = src/ros_odrive
	url = git@github.com:uwrobotics/ros_odrive.git
[submodule "utils/ros2-migration-tools"]
	path = utils/ros2-migration-tools
	url = https://github.com/awslabs/ros2-migration-tools.git
[submodule "src/dualshock4_teleop"]
	path = src/dualshock4_teleop
	url = https://github.com/adityakamath/akros2_teleop.git
[submodule "src/akros2_msgs"]
	path = src/akros2_msgs
	url = https://github.com/adityakamath/akros2_msgs.git
[submodule "src/siyi_msgs"]
	path = src/siyi_msgs
	url = https://github.com/mzahana/siyi_msgs.git
[submodule "src/siyi_ros2"]
	path = src/siyi_ros2
	url = https://github.com/mzahana/siyi_ros2.git
[submodule "src/sensor_vn300"]
	path = src/sensor_vn300
	url = git@github.com:uwrobotics/VectorNav-ROS2-Mirror.git
